.main{
    background: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.459)), url("../../../../../../public/All_background_Images/Jsc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}