@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}
.Home_page {
  @apply pr-10 pl-10  max-sm:pl-5 max-sm:pr-5 text-white;
}


/* BackGround Image_start */

@media not all and (min-width: 640px) {
  .Home_page {
    background: url("../../public/All_background_Images/home_page_sm3.png");
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    padding-bottom: 40%;
  }
}
@media (min-width: 640px) {
  .Home_page {
    background: url("../../public/All_background_Images/home_page_md.png");
    background-position: center;
    background-size: cover;
    padding-top: 30%;
    padding-bottom: 40%;
  }
}
@media (min-width: 768px) {
  .Home_page {
    background: url("../../public/All_background_Images/Home_Page.png");
    background-position: center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
@media (min-width: 1024px) {
  .Home_page {

    padding-top: 20%;

  }

}



.ticker-wrapper {
  width: 80%;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ticker {
  display: flex;
  animation: scroll 20s linear infinite;
}

.ticker-item {
  flex-shrink: 0;
  padding: 20px;
  white-space: nowrap;
  border-right: 1px solid #ddd;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}